<!DOCTYPE html>
<html data-theme="bread">
  <head>
    <title>Pankabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-100">
    <%= render "layouts/header" %>

    <main class="p-4">
      <%= yield %>
    </main>
  </body>
</html>
